@page "/editUser/{id}"
@inject IUserService UserService
@inject IRoleService RoleService
@inject IMatToaster Toaster

<h3>EditUser</h3>

<EditForm Model="UserService.User" OnSubmit="HandleEdit">
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="UserService.User.Email" class="form-control" type="email"></InputText>
    </div>
    <label for="role">Role</label>
    <InputSelect id="role" class="form-control d-flex" @bind-Value="UserService.User.Role.Id">
        @foreach (var role in RoleService.Roles)
        {
            <option value=@role.Id>@role.Name</option>
        }
    </InputSelect>
    <button type="submit" class="btn btn-primary">Edit</button>
</EditForm>


@code {

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserService.User = await UserService.GetByIdAync("api/user", Convert.ToInt32(Id));
        RoleService.Roles = await RoleService.GetAllAsync("api/role");
    }

    private async void HandleEdit()
    {
        bool result = await UserService.UpdateAsync("api/user", UserService.User);

        if (result)
        {
            Toaster.Add("User Edited", MatToastType.Success);
        }
        else
        {
            Toaster.Add("Eroor during edit user. Try Again", MatToastType.Danger);
        }
    }
}
