@page "/login"
@using BicycleRental.Shared.Dto
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control" type="email"></InputText>
    </div>
        <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserDto user = new UserDto();

    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync<string>("email", user.Email);
        await LocalStorage.SetItemAsync<string>("token", user.Token);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
    
}
