@page "/users"
@inject IUserService UserService
<PageTitle>Users</PageTitle>

<h3>Users</h3>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<UserDto> users = new List<UserDto>();

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllAsync("api/get");
    }
}
