@page "/login"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthService AuthService
<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control" type="email"></InputText>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>
<span class="text-danger">@message</span>
@code {
    private AuthDto user = new AuthDto();
    private string message = "";
    private async void HandleLogin()
    {
        var token = await AuthService.Login(user);
        if (token == null)
        {
            message = "Invalid password";
            return;
        }
        await LocalStorage.SetItemAsync<string>("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }

}
